<!---header--->
<header>
  <a href="#" class="logo"><img src="favicon.ico"><span>Jawhar</span></a>
  <div class=" bx bx-menu" id="menu-icon"></div>

  <ul class="navbar">
    <li><a href="#home">Home</a></li>
    <li><a href="#about">About Me</a></li>
    <li><a href="#portfolio">My Services</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</header>

<!---home--->
<section class="home" id="home">
  <div class="home-text">
    <h1>Alaa<br><span>Jawhar</span></h1>
    <h3>Full Stack Developer</h3>
    <a href="#contact" class="btn">Contact Me</a>
  </div>
</section>

<!---about--->
<section class="about" id="about">
  <div class="about-img">
    <img src="assets/img/about.png">
  </div>

  <div class="about-text">
    <h2>About Me</h2>
    <h4>Hi, Im Here To Help Your Next Project</h4>
    <p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry's
      Standard Dummy Text Ever Since The 1500s, When An .ac porta sem turpis quis leo. Nulla in feugiat elit.</p>
    <div class="about-gri">
      <div class="about-in">
        <h5>1. Problem Solving</h5>
      </div>

      <div class="about-in">
        <h5>2. Creative Idea</h5>
      </div>

      <div class="about-in">
        <h5>3. Search a lot</h5>
      </div>

      <div class="about-in">
        <h5>4. High Quality</h5>
      </div>

    </div>
  </div>
</section>

<!---Services--->
<section class="portfolio" id="portfolio">
  <div class="main-text">
    <h2>My Services</h2>
    <h4>Developing Fully Functional Applications</h4>
  </div>
  <div class="portfolio-content">
    <div class="row">
      <img src="assets/img/portfolio2.jpg">
      <div class="main-row">
        <div class="row-text">
          <h6>Development</h6>
        </div>
      </div>
      <h3>Mobile App </h3>
    </div>

    <div class="row">
      <img src="assets/img/portfolio4.jpg">
      <div class="main-row">
        <div class="row-text">
          <h6>Development</h6>
        </div>
      </div>
      <h3>Web Application</h3>
    </div>
  </div>

</section>

<!---contact--->
<section class="contact" id="contact">
  <div class="contact-text">
    <h2>Contact Me</h2>
    <h4>Let's Work Together</h4>
    <p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry</p>
    <div class="contact-list">
      <li><a>Tripoli - North Lebanon - Lebanon</a></li>
      <li><a>alaa.jawhar.eng@gmail.com</a></li>
      <li><a>(+961) 71 784741</a></li>
    </div>
    <div class="contact-icons">
      <a href="https://www.linkedin.com/in/alaa-jawhar"><i class='bx bxl-linkedin'></i></a>
      <a href="https://www.facebook.com/alaa.jawhar.566"><i class='bx bxl-facebook'></i></a>
      <a href="https://www.instagram.com/a.jawhar"><i class='bx bxl-instagram'></i></a>
    </div>
  </div>

  <div class="contact-form">
    <form action="">
      <input [(ngModel)]="contactMeRequest!.name" name="name"  type="text" placeholder="Enter Your Name" required>
      <input [(ngModel)]="contactMeRequest!.email" name="email" type="email" placeholder="Enter Your Email" required>
      <input [(ngModel)]="contactMeRequest!.subject" name="subject" type="text" placeholder="Enter Your Subject" required>
      <textarea [(ngModel)]="contactMeRequest!.message" name="message" id="" cols="40" rows="10" placeholder="Enter Your Message" required></textarea>
      <input (click)="onSubmit()" type="submit" value="Submit" class="send">
    </form>
  </div>
</section>

<div class="last-text">
  <p>Developed by Alaa Jawhar © 2022</p>
</div>

<!---scroll-top--->
<a href="#home" class="top"><i class='bx bx-up-arrow-alt'></i></a>

